<ion-view view-title={{merchant.name}}>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Merchant Name</span>
        <input type="text" placeholder="Merchant Name" ng-model='merchant.name' ng-model-options="{updateOn: 'blur'}" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Total Amount Owe</span>
        <input type="number" placeholder="Total Amount Owe - $" ng-model='merchant.totalOwe' required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Minimum Payment</span>
        <input type="number" placeholder="Minimum Payment - $" ng-model='merchant.minPayment'>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Due Day</span>
        <input type="date" placeholder="Due Day" ng-model='merchant.dueDay'>
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="addMerchant()">
      Add Merchant
    </button>
    <button class="button button-block button-assertive" onclick="window.location='#/tab/merchants'">
      Cancel
    </button>

    {{merchant | json}}
  </ion-content>
</ion-view>
